@model Thrift_Fashion.Models.VirtualModel.ForgotPasswordModel
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- customer login start -->
<div class="customer_login">
    <div class="row">
        <!--login area start-->
        <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4">
            <div class="account_form">
                @using (Html.BeginForm("UpdatePassword", "Customers", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <p>
                    <label>Email<span>*</span></label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label>Code<span>*</span></label>
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label>New Password<span>*</span></label>
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control input-text required-entry validate-password" })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </p>
                <p>
                    <label>Confirm Password<span>*</span></label>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </p>
                    <div class="login_submit text-center">
                        <button type="submit">Submit</button>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4 col-md-4"></div>
        <!--login area start-->
    </div>
</div>
<!-- customer login end -->

