@model IEnumerable<Thrift_Fashion.Models.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutServer.cshtml";
}

<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd pull-left">
                            <h1>Feedbacks</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph" style="clear:both">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="No">
                                            No.
                                        </th>
                                        <th data-field="CustomerID">
                                            @Html.DisplayNameFor(model => model.Customer.Fullname)
                                        </th>
                                        <th data-field="ProductID">
                                            @Html.DisplayNameFor(model => model.Product.Name)
                                        </th>
                                        <th data-field="CreatedDate">
                                            @Html.DisplayNameFor(model => model.CreatedDate)
                                        </th>
                                        <th data-field="Description">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ 
                                        int count = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                @count
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Customer.Fullname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Product.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @{
                                                    string email = item.Customer.Email;
                                                    string body = "Thank you for your feedback on Thrift Fashion%0D%0AYour feedback is: " + item.Description + "%0D%0AOur answer:";
                                                    <a title="Reply" href="mailto:@email?subject=Feedback from Thrift Fashion&body=@body" aria-expanded="false" class="btn btn-custon-rounded-four btn-primary">
                                                        <span class="fa fa-mail-reply" aria-hidden="true"></span>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
