@model IEnumerable<Thrift_Fashion.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutServer.cshtml";
}

@if (TempData["AlertMessage"] != null)
{
    <div id="msgAlert" class="alert alert-success hide">
        <strong> @TempData["AlertMessage"]</strong>
    </div>
}
@section scripts{
    <script>
        $("#msgAlert").removeClass("hide");

        $("#msgAlert").delay(2000).slideUp(1000);
    </script>
}

<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd pull-left">
                            <h1>Categories</h1>
                        </div>
                        <div class="pull-right">
                            <a title="Create" href="@Url.Action("Create", "Categories")" aria-expanded="false" class="btn btn-custon-four btn-success">
                                <span class="fa fa-plus" aria-hidden="true"></span>
                                Create
                            </a>
                        </div>
                    </div>
                    <div class="sparkline13-graph" style="clear:both">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="No">
                                            No.
                                        </th>
                                        <th data-field="Name">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ 
                                        int count = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                @count
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                <a title="Edit" href="@Url.Action("Edit", "Categories", new { id=item.CategoryID })" aria-expanded="false" class="btn btn-custon-rounded-four btn-primary">
                                                    <span class="fa fa-edit" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>